.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 360px;
}

.grid div {
    height: 40px;
    width: 40px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: blue;
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: grey;
}

.l1, l2, l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: lightblue;
}

.frog {
    background-color: green;
}
