.grid {
    background-color: blue;
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.previous-shape {
    height: 80px;
    width: 80px;
}

.previous-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
}

div {
    background-color: yellow;
    height: 20px;
    width: 20px;
}

.block {
    background-color: blue;
    border: 1px solid grey;
}

.block2 {
    background-color: purple;
}

.grid .block3 {
    background-color: green;
}