.grid {
    background-color: yellow;
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    /* background-color: yellow; */
    height: 20px;
    width: 20px;
}

.block {
    background-color: blue;
}

.block2 {
    background-color: purple;
}